################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Anagrams/DesignTimeBuild
/.vs/Anagrams/FileContentIndex
/.vs/Anagrams/v17
/.vs/ProjectEvaluation
/Anagrams/bin
/Anagrams/obj
